@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This project is being developed for the software engineering course.
    The application is entirely built by Adin, Selma and Armin.</p>
