@* Done by Selma Halilcevic*@
@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<address>
    Hransička cesta 15, Ilidža<br />
    71210 Sarajevo, Bosnia and Herzegovina<br />
    <abbr title="Phone">Phone:(387) 33 957 101/102</abbr><br />
    <abbr title="Fax">Fax : (387) 33 957 105</abbr><br />
    <a href="www.ius.edu.ba">www.ius.edu.ba</a><br />
</address>

<address>
    <strong>Support:</strong>
    <ul>
        <li>Adin Ćebić <br />Email: <a href="mailto:cebic.ad@gmail.com">cebic.ad@gmail.com</a></li>
        <li>Armin Bašić <br />Email: <a href="mailto:basic.armin1@gmail.com">basic.armin1@gmail.com</a></li>
        <li>Selma Halilčević <br />Email: <a href="mailto:shalilcevic@student.ius.edu.ba">shalilcevic@student.ius.edu.ba</a></li>
    </ul>
</address>